.body{
    height: 100%;
    background-image: url(../img/avto.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header{
    width: 100%;
    height: 7vh;
    background-color: rgba(0,0,0,.1);
}

.main{
    width: 100%;
    height: auto;
    padding:30px 0 20px;
}